In [3]:
a=1
b=str(a)
print(type(b))

<class 'str'>

In [ ]:
#arthematic operators

In [4]:
a=3
b=4
c=a+b
print(c)

7

In [13]:
a=int(input("enter your no."))
b=int(input("enter your no."))
c=a+b 
print(c)

enter your no. 2
enter your no. 2

4

In [ ]:
#comparison operator

In [ ]:
<,>,<=,<=,!=

In [14]:
a=12
b=15
print(a>b)

False

In [16]:
a=12
b=15
print(a==b)

False

In [24]:
x=int(input("enter your no."))
y=int(input("enter your no."))
z= int(input("enter your no."))
  
sum = x+y+z

average= sum/3
if(average >50):
    print("true" )
else:
    print("false")
if(sum%5==0):
    print("true ")
else :
    print("false")

enter your no. 20
enter your no. 30
enter your no. 40

false
true

In [5]:
a=3
b=4
c=a/b
print(c)

0.75

In [6]:
a=3
b=4
c=a//b
a=print(c)

0

In [8]:
a=3
b=4
c=a*b
a=print(c)

12

In [9]:
a=3
b=4
c=a-b
a=print(c)

-1

In [10]:
a=3
b=4
c=a**b
a=print(c)

81

In [1]:
a=4
b=3
print(a>b and a==b)

False

In [4]:
a=4
b=3
print(a>b or a==b)

True

In [12]:
a=4
b=3
print(not (a>b), not (a==b))

False True

In [14]:
a=[2,3,4,5]
for x in a:
    print(x)

2
3
4
5

In [20]:
a="python is imp"
print("is" not in a)

False

In [32]:
num1=int(input("Enter number 1 : "))
num2=int(input("Enter number 2 : "))
d=[10,20,30,40,50]
a=num1+num2
b=num1*num2

print(a)
print(b)

if(num1==num2):
    print("It is equal")
else:
    print("Not equal")

if(num1>num2):
    print("Num1 is equal")
else:
    print("Num1 is smaller")
    print(a in d)
    print(b in d)

Enter number 1 :  4
Enter number 2 :  5

9
20
Not equal
Num1 is smaller
False
True

In [40]:
num1=int(input("Enter number 1 : "))
num2=int(input("Enter number 2 : "))
d=[10,20,30,40,50]
a=num1+num2
b=num1*num2

print(a)
print(b)

if(num1 is num2):
    print("It is equal")
else:
    print("Not equal")

if(num1>num2):
    print("Num1 is equal")
else:
    print("Num1 is smaller")
    print(a in d)
    print(b in d)

print(a is d)
print(b in d)

Enter number 1 :  4
Enter number 2 :  5

9
20
Not equal
Num1 is smaller
False
True
False
True