In [ ]:
#Functions
# --------------------
# dev div(parameters & arguments )
#div()
#----------------------

In [4]:
# Keyword arguments
def student(name,age):
    print(name, "is", age, "year old")

student(age=21, name="Suraj")

Suraj is 21 year old

In [39]:
# Variable Length Argument multi positional
def total_marks(*marks):
    print("All marks: ", marks)
    print("Total: ", sum(marks))

total_marks(80, 40, 30, 30)

All marks:  (80, 40, 30, 30)

TypeError: sum() missing 1 required positional argument: 'b'

In [38]:
#Default Argument
def greet(name="suraj"):
    print("Hello",name)
greet()
greet("Divyank")

Hello suraj
Hello Divyank

In [42]:
# a=5
# b=3
def sum(a,b):
   print(a+b)
sum(4,5)

9

In [1]:
def even():
    for i in range(2,50,2):
        print(i)
even()

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48

In [27]:
def even():
    for i in range(2,15,2):
        if i%2==0:
            print(i)
even()

In [114]:
def sqr(a):
    print(a*a)
sqr(4)

16

In [47]:
def even(a):
    if a%2==0:
        print("Even Number")
    else:
        print("odd number")
even(9)

odd number

In [53]:
def large(a,b,c):
   if a > b and a > c:
    print(a, "is the greatest")
   elif b > c:
    print(b, "is the greatest")
   else:
    print(c, "is the greatest")
large(1,2,3)

3 is the greatest

In [61]:
def factorial(a):
    if a==0 or a==1:
        return 1
    return a*factorial(a-1)
factorial(5)

120

In [120]:
def reverse_string(s):
    reversed_str = ""
    for char in s:
        reversed_str = char + reversed_str
    return reversed_str
print(reverse_string("hello"))

olleh

In [88]:
def rev(s):
    for i in range(len(s)-1,-1,-1):
        print(s[i], end="")
rev("suraj")

jarus

In [98]:
def fibonacci(n):
    a, b = 0, 1
    fib_series = []
    for _ in range(n):
        fib_series(a)
        a, b = b, a + b
    return fib_series

print(fibonacci(10))

TypeError: 'list' object is not callable

In [95]:
def count_vowels(s):
    vowels = "aeiouAEIOU"
    count = 0
    for char in s:
        if char in vowels:
            count += 1
    return count

print(count_vowels("Data Analyst"))

4

In [5]:
def palindrome(s):
    reversed_str = ""
    for char in s:
        reversed_str = char + reversed_str
    if s == reversed_str:
        print("Palindrome")
    else:
        print("Not Palindrome")

palindrome("madam")

Palindrome

In [102]:
def add_all(*args):
    return sum(args)

TypeError: sum() missing 1 required positional argument: 'b'

In [133]:
def fibonacci(n):
    a = 0
    b = 1
    for i in range(n):
        print(a, end=" ")
        c = a + b
        a = b
        b = c

fibonacci(10)

0 1 1 2 3 5 8 13 21 34

In [111]:
def Totalmarks(*args):
    total = 0
    for i in args:
        total += i
    print(total)

Totalmarks(1, 2, 3, 6)

12

In [118]:
def Maxnumber(lst):
    m = lst[0]
    for n in lst:
        if n > m:
            m = n
    print(m)

Maxnumber([3, 7, 2, 9, 90, 5])

90

In [132]:
def largest(lst):
    return max(lst)

largest([20,30,50,40,33])

50

In [146]:
a=[1,4.5]
b=(1,4.5)
print(type(a))
print(type(b))

<class 'list'>
<class 'tuple'>

In [149]:
#Characterstics of LIST
# Mutable
# Order
# collection of data type
# duplicate value

In [ ]:
append() a.append(100)  # add items at end
insert() a.insert(1,30) # insert at index

In [ ]:
# Method	                                What it do                                                           💡Example
append(x)	                    Adds x to the end of list	                                                a.append(100)
insert(i,x)	                    Inserts x at index i	                                                    a.insert(1, 30)
extend(iter)	                Adds all items from another iterable	                                    a.extend([4, 5])
pop(i)	                        Removes and returns item at index i (default: last)	a.pop() /               a.pop(2)
remove(x)                   	Removes first occurrence of x	                                            a.remove(50)
clear()	                        Empties the whole list (rip list)	                                        a.clear()
index(x)	                    Returns index of first x	                                                a.index(30)
count(x)	                    How many times x in list?	                                                a.count(100)
reverse()	                    Flips the list in-place	                                                    a.reverse()
sort() 	                        Sorts in-place (ascending by default)	                                    a.sort()
copy()	                        Returns a shallow copy	                                                    b = a.copy()

In [59]:
a=[1,2,3,4,5,6,7,8,9,10]
print(a)
a.append(5)
print(a)
a.pop(5)
print(a)
a.insert(1,7)
print(a)
a.extend([4,5,6,7])
print(a)
a.remove(5)
print(a)
a.reverse()
print(a)
a.count(4)
print(a)
a.index(5)
print(a)
print(a.count(4))
# print(a.reverse())
a.clear()
print(a)
b=a.copy()
print(b)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 5]
[1, 2, 3, 4, 5, 7, 8, 9, 10, 5]
[1, 7, 2, 3, 4, 5, 7, 8, 9, 10, 5]
[1, 7, 2, 3, 4, 5, 7, 8, 9, 10, 5, 4, 5, 6, 7]
[1, 7, 2, 3, 4, 7, 8, 9, 10, 5, 4, 5, 6, 7]
[7, 6, 5, 4, 5, 10, 9, 8, 7, 4, 3, 2, 7, 1]
[7, 6, 5, 4, 5, 10, 9, 8, 7, 4, 3, 2, 7, 1]
[7, 6, 5, 4, 5, 10, 9, 8, 7, 4, 3, 2, 7, 1]
2
[]
[]

In [54]:
a=[1,2,3,4,5,6,7,8,9,10]
a.append(5)
print(a)
a.extend([4,5])
print(a)
a.remove(5)
print(a)
a.reverse()
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 5]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 5, 4, 5]
[1, 2, 3, 4, 6, 7, 8, 9, 10, 5, 4, 5]
[5, 4, 5, 10, 9, 8, 7, 6, 4, 3, 2, 1]

In [ ]:
# Tuple - not mutable,no changes occurss

In [3]:
d=tuple('a string with many"a"s')
d.count('a')

3

In [4]:
d.count('a')

3

In [5]:
set1 = set()
print(type(set1))

<class 'set'>

In [ ]:
# set0 = set([1,2,3,4,5])
# set0 = {1,2,3,4,5}  #equivalent to

In [6]:
set1= set([1,2,3])

In [33]:
set2= set([4,5,2])

In [23]:
set1.union(set2)

{1, 2, 3, 4, 5}

In [24]:
set1.add(0)
set1

{0, 1, 2, 3}

In [34]:
set1.intersection(set2)

{2}

In [35]:
set1.issubset(set2)

False

In [37]:
set1.isdisjoint(set2)

False

In [39]:
set2.pop()
print(set1)

{1, 2, 3}

In [43]:
set1.remove(1)
(set1)

{2, 3}

In [ ]:
# #File Operation
openfile open()
read :  read() readline() readlines()
write : write() writelines()
close: close()
delete : os.remove()

#File mode
'r' read(default)

In [45]:
import os
if os.path.exists("test.txt"):
    os.remove("test.txt")
    print("File deleted")
else:
    print("File doesn't exist")

File deleted

In [9]:
l=[]
a=int(input("Enter a : "))
b=int(input("Enter b : "))
c=int(input("Enter c : "))
d=int(input("Enter d : "))
e=int(input("Enter e : "))

l.append(a)
l.append(b)
l.append(c)
l.append(d)
l.append(e)
print(l)

Enter a :  2
Enter b :  2
Enter c :  3
Enter d :  4
Enter e :  5

[2, 2, 3, 4, 5]

In [11]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
list1.extend(list2)
print(list1)

[1, 2, 3, 4, 5, 6]

In [15]:
 l = [10, 20, 30, 40]
l.insert(2,25)
print(l)

[10, 20, 25, 30, 40]

In [17]:
l = [10, 20, 30, 20, 40]
l.remove(20)
print(l)

[10, 30, 20, 40]

In [20]:
l = [10, 20, 30, 20, 40]
l.pop(-1)
print(l)
print(l.pop())

[10, 20, 30, 20]
20

In [22]:
l = [5,10,15,20,25]
l.index(15)

2

In [23]:
l=[1, 2, 2, 3, 2, 4, 2]
l.count(2)

4

In [27]:
l=[10, 5, 7, 3]
l.sort()
print(l)
l.reverse()
print(l)

[3, 5, 7, 10]
[10, 7, 5, 3]

In [28]:
l=[1, 2, 3, 4, 5]
l.reverse()
print(l)

[5, 4, 3, 2, 1]

In [54]:
l=[]
def family():
    for i in l:
        if 'm'>'f':
            print("male dominating family")
            if 'f'>'m':
            print("Female dominating family")
            if 'm'=='f':
            print("Equal dominating family")

def input():
    a=input("Enter m & f: ")
    l.append(a)
input()
family()

IndentationError: expected an indented block after 'if' statement on line 4 (457262509.py, line 5)

In [7]:
class Student:
    def __init__(self,name,age):
        self.name=name
        self.age=age

    def show_details(self):
        print(f"Name : {self.name}\nAge :{self.age}")
s1=Student("Suraj","21")
s1.show_details()

Name : Suraj
Age :21

In [ ]:
class Atm: